*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.content {
  background-color: #aa1111;
  height: 60px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
}

.stylenav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #f1f1f1;
  height: auto;
  padding: 5px;
  width: auto;

}
 a{
  text-decoration: none;
  color: black;
 }

.nav{
  display: flex;
  align-items: center;
  background-color: wheat;
  gap: 10px;
  height: auto;
  width: auto;
  padding: 10px;
}
.logo {
  height: auto;
  width: auto;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}
